@media handheld and (orientation:portrait), (max-width: 600px) {
	.wrap {
		width: 90%;
	}
}

@media (max-width: 400px) {
	.wrap {
		width: 90%;
		min-width: 0px;
	}

	.score {
		min-width: 0px;
	}

	/*.logo {
		padding-top: 10px;
	*/

	.subscore {
		margin-top: 40px;
	}

	.logo img {
		width: 70px;
	}

	h1 {
		font-size: 40pt;
	}
}