* {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background-image: url(../img/bg_img.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.wrap {
	width: 60%;
	margin: 0 auto;
}

.subscore {
	display: inline-block;
}

.logo {}

.score {
	padding-top: 20px;
	margin-top: 10%;
	display: inline-block;
	width: 49%;
	height: 150px;
	background-color: rgba(238, 238, 238, 0.6);
	border-radius: 10px;
	vertical-align: middle;
}

.home {
	float: left;
}

.away {
	float: right;
}

.highlights {
	margin-top: 15px;
	padding-top: 10px;
	width: 49%;
	margin-bottom: 100px;
}

.highlights ul {
	padding-left: 0;
	width: 100%;
	float: left;
	opacity: 0.6;
}

.highlights ul li {
	background-color: #eeeeee;
	padding-top: 10px;
	padding-left: 10px;
	height: 30px;
	list-style: none;
	margin-bottom: 5px;
	border-radius: 5px;
}

.goal {
	vertical-align: middle;
	padding-right: 10px;
	height: 70%;
}