* {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background-image: url(../img/bg_img.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.wrap {
	width: 60%;
	min-width: 480px;
	margin: 0 auto;
}

.subscore {
	display: inline-block;
}

.subscore {
	margin-top: 25px;
}

.home .logo {
	margin-left: 20px;
}

.away .logo {
	margin-right: 20px;
}

.homeScore {
	float: right;
	margin-right: 20px;
}

h1 {
	font-size: 60pt;
}

.awayScore {
	float: left;
	margin-left: 20px;
}

.score {
	margin-top: 10%;
	display: inline-block;
	width: 49%;
	min-width: 235px;
	height: 150px;
	max-height: 150px;
	background-color: rgba(238, 238, 238, 0.6);
	border-radius: 10px;
	vertical-align: middle;
}

.home {
	float: left;
}

.away {
	float: right;
	text-align: right;
}

.highlights {
	margin-top: 15px;
	padding-top: 10px;
	width: 49%;
	margin-bottom: 100px;
	text-align: left;
}

.highlights ul {
	padding-left: 0;
	width: 100%;
	float: left;
	opacity: 0.6;
}

.highlights ul li {
	background-color: #eeeeee;
	padding-top: 10px;
	padding-left: 10px;
	height: 30px;
	list-style: none;
	margin-bottom: 5px;
	border-radius: 5px;
}

.goal {
	vertical-align: middle;
	padding-right: 10px;
	height: 70%;
}