* {
	margin: 0;
}

body {}

.wrap {
	width: 60%;
	margin: 0 auto;
}

.score {
	margin-top: 10%;
	display: inline-block;
	width: 49%;
	height: 150px;
	background-color: #333333;
	border-radius: 10px;
}

.home {
	float: left;
}

.away {
	float: right;
}

.highlights {
	margin-top: 15px;
	padding-top: 10px;
	width: 49%;
	margin-bottom: 100px;
}

.highlights ul {
	padding-left: 0;
	width: 100%;
	float: left;
}

.highlights ul li {
	padding-top: 10px;
	padding-left: 10px;
	height: 30px;
	list-style: none;
	background-color: #444444;
	margin-bottom: 5px;
	border-radius: 5px;
}